// COLORS
$color-primary: hsl(355, 100%, 74%) ;
$color-primary-light: hsl(13, 100%, 72%);
$color-primary-dark:hsl(356, 100%, 66%);

$color-secondary: hsl(207, 13%, 34%);
$color-secondary-light: hsl(240, 2%, 79%);
$color-secondary-dark-1: hsl(208, 49%, 24%);
$color-secondary-dark-2: hsl(240, 10%, 16%);

$color-grey-blue-dark:hsl(237, 17%, 21%);
$color-grey-blue-dark-1:hsl(237, 23%, 32%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;